.forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 200px;
    padding: 20px;
    margin-top: 100px;
    z-index: 5;
    position: relative;
}

.contact-card {
    display: flex;
    width: 450px;
    background: #fffdf9;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0d5b8;
}

.form_control {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
}

.hieroglyphs {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

.form_control span {
    display: none;
    color: red;
    font-size: 15px;
    visibility: hidden;
}

.form_content {
    flex: 1;
    padding: 40px;
    background-image: url(../images/contact/background-form.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.form_control.error span {
    color: red;
    font-size: 14px;
    display: block;
    visibility: visible;
}

body.dark .form_content {
    background-image: url(../images/contact/dark-background-form.jpeg);
}

.form-header {
    text-align: center;
    margin-bottom: 25px;
}

.form-header h1 {
    font-size: 22px;
    letter-spacing: 2px;
    color: #000;
}

body.dark .form-header h1 {
    color: #d4af37;
}

body.dark label {
    color: #d4af37;
}

.form-header h3 {
    margin: 5px 0;
    color: #000;
}

body.dark .form-header h3 {
    color: #d4af37;
}

.form_control .input-label {
    font-size: 20px;
}

.forms-container form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form_control label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    color: #000;
}

.form_content input,
.form_content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: #fdfaf3;
    border: 1px solid #dcd0b5;
    border-radius: 8px;
    box-sizing: border-box;
}

.form_control.error input,
.form_control.error textarea {
    border-color: red;
}

textarea {
    height: 90px;
}

.btn {
    width: 100%;
    padding: 15px;
    background: #1a2a3a;
    color: #d4af37;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
    margin-top: auto;
    font-family: var(--main-font);
}

body.dark .btn {
    background-color: #0c1519;
}

.btn:hover {
    background: #000;
}

.reviews-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
}

.reviews-main-title {
    text-align: center;
    font-family: var(--main-font);
    color: #1a2a3a;
    font-size: 28px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

body.dark .reviews-main-title {
    color: #dcd0b5;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.review-card {
    width: 300px;
    background-color: white;
    border: 2px solid #d4af37;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition-duration: 0.5s;
}

body.dark .review-card {
    background-color: #0c1519;
}

.review-card:hover {
    transform: translateY(-5px);
}

.card-content {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.photo-review {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    border: 2px solid #d4af37;
    margin-bottom: 15px;
}

.user-name {
    font-family: var(--main-font);
    color: #1a2a3a;
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
}

body.dark .user-name {
    color: #dcd0b5;
}

.location {
    font-size: 12px;
    color: grey;
    margin: 2px 0 15px 0;
}

.rating {
    font-size: 14px;
    color: #1a2a3a;
    line-height: 1.6;
    font-family: var(--main-font);
    min-height: 80px;
}

body.dark .rating {
    color: #dcd0b5;
}

.review-date {
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    font-weight: bold;
}