* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #FFB75E;
    background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);
    background: linear-gradient(to right, #ED8F03, #FFB75E); */
    /* background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    background: linear-gradient(to right, #ffa751, #ffe259); */
    background: #fceabb;
    background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
    background: linear-gradient(to right, #f8b500, #fceabb);
    color: black;
    transition-duration: .3s;
    transition: linear;
}

body.dark {
    color: var(--gold-color);
    background: none;
    background-color: black;
    transition-duration: .3s;
    transition: linear;
}

:root {
    --hieroglyph-font: 'Noto Sans Egyptian Hieroglyphs', cursive;
    --main-font: "Almendra", serif;
    --main-color: #fff;
    --home-color: black;
    --gold-color: #F2C12E;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}